<%= link_to "MESSAGES", {:controller => "/conversations", :action => "new"}, {:class=>"msguser_hide messageuser btn btn-large btn-primary"}%>

<form method="post" action="http://localhost:3000/conversations/new" id="f">
  <input type="hidden" name="current_user" value="10">
  <noscript><button type="submit">Continue</button></noscript>
</form>

<div class="profile_info">


  <p class="username_profile_page">
    <%=  @profiles.f_name %>
    <%= @profiles.l_name %>
  </p>

  <p class="picprofile">


      <% ProfilePic.all.each do |f| %>
        <% if @profiles.profilepicid == f.id %>
              <%= image_tag f.image_url(:thumb).to_s %>

          <% end %>

      <% end %>

    </p>
  <% if @profile.id == current_user.id %>
      <p class="profileedit">
        <%= link_to image_tag("edit-profile.png", :class => "editprofile_image"), edit_profile_path(@profile) %>
      </p>
  <% end %>


  <div class="social_links">
    <%= link_to image_tag("angel-list.png"), "https://angel.co/", :class => "social_link_spacing" %>
    <%= link_to image_tag("facebook.png"), "http://www.twitter.com", :class => "social_link_spacing" %>
    <%= link_to image_tag("linkedin.png"), "http://www.linkedin.com", :class => "social_link_spacing" %>
    <%= link_to image_tag("meetup.png"), "https://angel.co/", :class => "social_link_spacing" %>
    <%= link_to image_tag("twitter.png"), "https://angel.co/", :class => "social_link_spacing" %>
  </div>

  <p class="user_title">
    <%= @profiles.title %>
  </p>

  <div class="user_area_pic">
    <span class="location_user_area fui-location"></span>
    <p class="user_area">
      <%= @profiles.area %>
    </p>
  </div>

  <%= render 'follow_form' if signed_in? %>


  <div id="updatefollowfollowing">
    <%= link_to image_tag("updates-light.png"),"" ,:class => "personalprofileinfoupdates" %>
    <%= link_to image_tag("following-dark.png"),"" ,:class => "personalprofileinfofollowing" %>
    <%= link_to image_tag("followers-dark.png"), "", :class => "personalprofileinfofollowers" %>
  </div>

  <div id="updatefollowfollowingcount">
   <p class="personalprofileinfoupdatescount updates"> <%= Post.where(:profile_id => current_user.id).count  %> </p>
   <p class="personalprofileinfoupdatescount followed"> <%= @usersfollowing.count %> </p>
   <p class="personalprofileinfoupdatescount followers"> <%= @usersfollowed.count %> </p>
  </div>


</div>
<div id = "dash_profile_page">

  <ul id = "post_container_profile">

    <% @dash_post_array_sorted_reverse.each do |f| %>

        <% if @profiles.id == f.profile_id %>
        <% if f.visibility == true %>
                <div class="container">
                  <div class="container_text">

                    <li class="name_position">
                      <% @profilescan.each do |profilescan| %>
                          <% if (f.profile_id == profilescan.id) %>
                              <%= profilescan.f_name %>
                          <% end %>
                      <% end %>
                    </li>

                    <li>
                      <% @profilepic.each do |pic| %>
                          <% if (f.profile_id == pic.profile_id) %>
                              <%= image_tag pic.image_url(:thumb).to_s, :class => "dashpost_profilepic" %>
                          <% end %>
                      <% end %>
                    </li>

                    <li class="dashpost_time">
                      <%= f.created_at.strftime("%B %d, %Y")  %>
                    </li>
                    <div class="container_content" data-id="<%= f.id %>">
                      <li>
                        <%= f.post %>
                        <!--Post.where("posts.id" => ff.id).first-->
                      </li>

                      <% if @profiles.id == current_user.id %>
                          <li class="cross">
                            <% @Postvisibility.each do |ff| %>
                                <% if f.id == ff.id %>
                                    <%= form_for Deletepost.new do |delete| %>
                                        <%= delete.hidden_field :user_id, :value => current_user.id, :class => "dlt_userid" %>
                                        <%= delete.hidden_field :profile_id, :value => f.id, :class => "dlt_postid" %>
                                        <div class="profileid" data-url="<%= f.profile_id %>"></div>
                                        <%= button_tag "", :class => "close fui-cross" %>
                                    <% end %>
                                <% end %>
                            <% end %>
                          </li>
                      <% end %>

                      <% @postpic.each do |pict| %>
                          <% if f.id == pict.post_id && !pict.picture.blank? %>
                              <li>
                                <%= image_tag pict.picture_url(:thumb).to_s, :class => "dashpost_commentpic" %>
                              </li>

                          <% end %>
                      <% end %>

                      <% if Comment.where(post_id: f.id).count > 2 %>
                          <li class="view_all_comments">
                            <span class="fui-eye commentcolor"></span>
                            View all <%= Comment.where(post_id: f.id).count %> comments
                          </li>
                      <% end %>

                      <%= content_tag :div, class:"commentsheight", id: f.id, data: {url: post_comments_url(f.id)} do %>
                          <div class="scroller">
                            <%= render f.comments %>
                          </div>

                      <% end %>

                      <li>
                        <%= image_tag @profpic.image_url(:thumb).to_s, :class => "comment_profilepic" %>
                      </li>
                      <li class="form_post">
                        <%= form_for [f,@comment], :remote => true do |commentpost| %>
                            <%= commentpost.text_area :cmtpost, :class => "comment_field", :size => "300x1", :placeholder => "Add a comment..." %>
                            <%= commentpost.hidden_field :user_id, :value => current_user.id %>
                            <%= commentpost.hidden_field :post_id, :value => f.id %>
                            <%= commentpost.hidden_field :profile_id, :value => current_user.id %>
                            <%= commentpost.hidden_field :comment_visibility, :value => "true" %>
                            <%= commentpost.submit "Post", :class => " comment_splash btn btn-large btn-primary", :disabled => true %>
                        <% end %>
                      </li>
                    </div>
                  </div>
                </div>
            <% end %>
        <% end %>

    <% end %>
  </ul>
</div>

<div id="followeduserlisting">
  <%= render 'profilefollow_form' %>
</div>
<div id="followinguserlisting">
<%= render 'usersfollowing' %>
</div>