<%= form_for [@post,@comment] do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= f.text_area :cmtpost, :class => "comment_field", :size => "300x1" %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :post_id, :value => "1" %>
    <%= f.hidden_field :profile_id, :value => current_user.id %>
    <%= f.hidden_field :comment_visibility, :value => "true" %>
    <%= f.submit "Post", :class => " comment_splash btn btn-large btn-primary"%>
  </div>

<% end %>
