

<% unless activity.blank? %>
		<% if activity.trackable.try(:followed_id)  == current_user.id %>
			<p class='well'>
				<% pf = Profile.find_by_id(activity.trackable.follower_id) %> 
				<span class="capitalize">
					<%= link_to pf.f_name , pf %>
				</span>
						is now following
				<span class="capitalize">
					<%= link_to "you", current_user %>
				</span>
				 &nbsp;&nbsp;&nbsp; &nbsp;
				<span class="activity_time"><%= time_ago_in_words(activity.created_at) %></span>
			</p>
		<% end %>


		<% if activity.trackable.try(:follower_id) == current_user.id %>
			<p class="well">
				<span class="capitalize">
					<%= link_to "You are" , current_user %>
				</span>
					 now following 
				<span class="capitalize">
					<%= link_to Profile.find_by_id(activity.trackable.followed_id).try(:f_name) , Profile.find_by_id(activity.trackable.followed_id)  %> 
				</span>
				&nbsp;&nbsp;&nbsp; &nbsp;
				<span class="activity_time"><%= time_ago_in_words(activity.created_at) %></span>
			</p>
		<% end %>  

<% end %>





  <%#if activity.trackable_type == "Relationship" && activity.trackable.followed_id == current_user.id %>
    <!-- <%#= Profile.where("profiles.id" => activity.trackable.follower_id)[0].f_name %>  is now following You -->
   <%# end %>

    <%#if activity.trackable_type == "Relationship" && activity.trackable.follower_id == current_user.id %>
        <!-- You are now following <%#=  Profile.where("profiles.id" => activity.trackable.followed_id)[0].f_name %> -->
   <%# end %>
