<!doctype html>
<div class="welcome">
<div class="inner_welcome">
<% if user_signed_in? %>

    <div id = "skill_section">
    <p class="skill_text">Design</p>
    <%= image_tag("design.png" , :class => "skill_img")%>
    <p class="skill_text">Technology</p>
    <%= image_tag("technology.png" , :class => "skill_img") %>
    <p class="skill_text">Business</p>
    <%= image_tag("business.png", :class => "skill_img") %>
    </div>


    <div id="dashboard-post">
      <%= form_for @postnew, :html => {:multipart => true} do |post| %>
          <div class="dashboard-post_containter">
            <%= post.text_area :post, :class => "post_field", :size => "300x3", :placeholder => "Share something startup related" %>
            <%= post.hidden_field :profile_id, :value => current_user.id, :class => "user_id" %>
            <%= post.hidden_field :visibility, :value => "true" %>
            <%=  post.fields_for :post_pics do |pic| %>
                <div class="form_field">
                  <%= pic.file_field :picture,:class => "input img_up" %>
                  <!--, multiple: true, name: "post[post_pic][picture]",-->
                  <img class="camera-image" src="/assets/camera.png">
                  <%= pic.hidden_field :profile_id, :value => current_user.id, :class => "input user_id" %>
                </div>
            <% end %>
            <%= post.submit "POST", :class => " post_splash btn btn-large btn-primary", :disabled => true %>
          </div>
      <% end %>
    </div>

    <div id = "dash_content">

      <ul id = "post_container">

        <% @dash_post_array_sorted_reverse.each do |f| %>

            <% if f.visibility == true %>
                <% if !(Deletepost.where(post_id: f.id).where( user_id: current_user.id).first)  %>
                    <div class="container">
                      <div class="container_text">

                        <li class="name_position">
                          <% @profilescan.each do |profilescan| %>
                              <% if (f.profile_id == profilescan.id) %>
                                  <%= profilescan.f_name %>
                              <% end %>
                          <% end %>
                        </li>


                        <li>
                          <% @profilepic.each do |pic| %>
                              <% if (f.profile_id == pic.profile_id) %>
                                  <%= link_to image_tag(pic.image_url(:thumb).to_s, :class => 'dashpost_profilepic'), profile_path(id: f.profile_id)  %>
                              <% end %>
                          <% end %>
                        </li>

                        <li class="dashpost_time">
                          <% if f.created_at > Time.now.beginning_of_day %>
                              <%= time_ago_in_words(f.created_at) %> ago
                          <% else %>
                              <%= f.created_at.strftime("%B %d, %Y")  %>
                          <% end %>
                        </li>

                        <div class="container_content" data-id="<%= f.id %>">
                          <li>
                            <%= f.post %>
                            <!--Post.where("posts.id" => ff.id).first-->
                          </li>

                          <li class="cross">
                            <% @Postvisibility.each do |ff| %>
                                <% if f.id == ff.id %>
                                    <%= form_for Deletepost.new do |delete| %>
                                        <%= delete.hidden_field :user_id, :value => current_user.id, :class => "dlt_userid" %>
                                        <%= delete.hidden_field :profile_id, :value => f.id, :class => "dlt_postid" %>
                                        <div class="profileid" data-url="<%= f.profile_id %>"></div>
                                        <%= button_tag "", :class => "close fui-cross" %>
                                    <% end %>
                                <% end %>
                            <% end %>
                          </li>

                          <% @postpic.each do |pict| %>
                              <% if f.id == pict.post_id && !pict.picture.blank? %>
                                  <li>
                                    <%= image_tag pict.picture_url(:thumb).to_s, :class => "dashpost_commentpic" %>
                                  </li>
                              <% end %>
                          <% end %>

                          <% if Comment.where(post_id: f.id).count > 2 %>
                              <li class="view_all_comments">
                                <span class="fui-eye commentcolor"></span>
                                View all <%= Comment.where(post_id: f.id).count %> comments
                              </li>
                          <% end %>


                          <%= content_tag :div, class:"commentsheight", id: f.id, data: {url: post_comments_url(f.id)} do %>
                               <%= render f.comments %>
                          <% end %>

                          <li>
                            <%= link_to image_tag(@profpic.image_url(:thumb).to_s, :class => 'comment_profilepic'), profile_path(id: current_user.id)  %>
                          </li>
                          <li class="form_post">
                            <%= form_for [f, @comment], remote: true do |commentpost| %>
                                <%= commentpost.text_area :cmtpost, :class => "comment_field", :placeholder => "Add a comment..." %>
                                <%= commentpost.hidden_field :user_id, :value => current_user.id, :class => "user_id_comment" %>
                                <%= commentpost.hidden_field :post_id, :value => f.id, :class => "post_id_comment" %>
                                <%= commentpost.hidden_field :profile_id, :value => current_user.id, :class => "profile_id_comment" %>
                                <%= commentpost.hidden_field :comment_visibility, :value => "true", :class => "comment_visibility" %>
                                <%= commentpost.submit "POST", :value => "POST", :class => "comment_splash btn btn-large btn-primary", :disabled => true %>

                            <% end %>
                          </li>
                        </div>
                      </div>
                    </div>
                <% end %>
            <% end %>
        <% end %>
      </ul>
    </div>

<% else %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Startup Social - Connect, Collaborate, Create</title>

    <META Name="revisit-after" Content="30 Days">
    <META Name="Description" Content="Startup Social - Connect, Collaborate, Create">
    <META Name="Keywords" Content="startup, tech startups, startup weekend, up global, technology, los angeles, silicon beach">

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38499372-1']);
        _gaq.push(['_setDomainName', 'startupsocial.com']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <script type="text/javascript">
        function MM_preloadImages() { //v3.0
            var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
                var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
                    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
        }
        function MM_swapImgRestore() { //v3.0
            var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
        }
        function MM_findObj(n, d) { //v4.01
            var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
                d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
            if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
            for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
            if(!x && d.getElementById) x=d.getElementById(n); return x;
        }

        function MM_swapImage() { //v3.0
            var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
                if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
        }
    </script>

    </head>

    <body>

    <center>
      <br />
      <img src="assets/startup-social-logo.png" width="200" height="225" /><br />
      <img src="assets/connect-collaborate-create.png" width="640" height="175" /><br />
      <br />
      <br />
      <link href="http://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">


      <div id="optin">
        <form action="http://startupsocial.us7.list-manage.com/subscribe/post?u=b16068ebe51a564027c62b54f&amp;id=f25c5257b9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <br />
          <div class="control-group large">
            <input type="text" value="" name="MMERGE4"  placeholder="Enter Your Name" class="span3 signinpage_name" id="mce-MMERGE4" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
          </div>


          <div class="control-group large">
            <input type="text" value="" name="EMAIL"  placeholder="Enter Your Email" class="required email span3 signinpage_email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
          </div>

          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
          <input type="submit" value="SEND ME AN INVITE" name="subscribe" id="mc-embedded-subscribe" class="btn btn-large btn-block btn-inverse requestbutton">
        </form>

        <div class="sign_in_btn">
          <p class="accountexist">Already have an account ?</p>
          <%= link_to("SIGN IN", new_user_session_path, :class => "homepage signin_btn btn btn-small btn-primary btn-embossed mlm") %>
        </div>



      </div>

      <br />
      <br />
      <a href="https://angel.co/startup-social" target="_blank"><img src="assets/angel-list-1.png" width="60" height="60" border="0" /></a>
      <br />
      <br />
      <br />
      <br />
    </center>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://startupsocial.com/jquery.backstretch.min.js"></script><script type="text/javascript">
        $.backstretch("http://startupsocial.com/la-startup-community.png", {speed: 150});
    </script>

    </body>
    </html>
    </div>
<% end %>
</div>
</html>