<br/><br/>


<h3>Activities</h3>

<div class="row">
  <div class="container">


    <div id="today"> 
      <h4> Today <hr></h4>
      <% unless @today_activities.blank? %>
        <% @today_activities.each do |activity| %>
          <%= render_activity(activity) %>
        <% end %>
        <div class="activity_date offset4"> <%=  @today_activities.try(:first).created_at.strftime("%B %d, %Y") %> </div>
      <% else %>
        <span> There are no activities logged for today </span>
      <% end %>
    </div>


    <div id="yesterday">
      <h4> Yesterday <hr></h4>
      <% unless @yesterday_activities.blank?  %>
        <% @yesterday_activities.each do |activity| %>
           <%= render_activity(activity) %>  
        <% end %>
      <div class="activity_date offset4"> <%=  @yesterday_activities.try(:first).created_at.strftime("%B %d, %Y") %> </div>
      <% else %>
        <span> There are no activities logged for yeseterday </span>
      <% end %>
    </div>

    <div id="2daysago">
      <h4> 2 Days ago<hr></h4>
      <% unless @remaining_activities.blank? %>
        <% @remaining_activities.each do |activity| %>
           <%= render_activity(activity) %>
        <% end %>
      <div class="activity_date offset4"> <%=  @remaining_activities.try(:first).created_at.strftime("%B %d, %Y") %> </div>
      <% else %>
        <span> There are no activities logged for these days </span>
      <% end %>
    </div>

  </div>
</div>



