<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="icon.jpg" type="image/type here" />
  <title>StartupSocial - Connect, Collaborate, Create <%= yield(:title) || "Welcome" %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true  %>

  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body class="bdy <%= @home_page ? 'homepage' : 'not_homepage'%>">

<% if user_signed_in? %>
<script>
  $(".bdy").addClass("signed_in");
</script>
<header class="logged">

  <div id="imagesheader">
      <h2 class="logo"><%= link_to image_tag("startup-social-logo.png", :border => 0), {:controller => "/splash_screen", :action => "index"}%>  </h2>

      <div class="notifications">
        <%= image_tag("menu-notifications.png", :border => 0)%>
      </div>

      <div class="msgs">
        <%= image_tag("menu-messages.png", :border => 0)%>
      </div>

      <div class="settingsheader">
        <%= link_to(image_tag("sign-out.png", :border => 0), destroy_user_session_path, :method => :delete) %>
      </div>

      <div id="headerpictitle">

        <% if user_signed_in? && !@profpic.nil? %>
            <%= link_to image_tag(@profpic.image_url(:thumb).to_s), profile_path(id: current_user.id)  %>

      <% end %>

      </div>
  </div>
</header>

    <div id="user_nav">
   <br/>
      <% if current_user.id == 1 || current_user.id == 2 || current_user.id == 3 %>
        <a class="button primary" id="starttour">Start this Tour</a>
      <% end %>
    </div>
<% else %>

    <header class="not_logged <%= @home_page ? 'rvmheader' : ''%>">

      <h2 class="logonotlogged"><%= link_to image_tag("startup-social-logo.png", :border => 0), {:controller => "/splash_screen", :action => "index"}%>  </h2>
    </header>

<% end %>

<h1><%= yield(:title) %></h1>

<%= yield %>
   <div style="height: 100px">


   </div>

</body>
</html>
